/* Container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-top: 180px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffcc70;
  }
}

.password-length {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  label {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-bottom: 15px;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-runnable-track {

    height: 10px;
    border-radius: 5px;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%);
    cursor: pointer;
    margin-top: -5px;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    cursor: pointer;
  }

  &::-moz-range-track {
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }
}


.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;

  label {
    display: flex;
    align-items: center;
    gap: 5px;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #4158D0;
  color: #fff;
  transition: background 0.3s;

  &:hover {
    background: #C850C0;
  }
}


.result {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;

  input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 16px;
  }

  .success-message {
    color: #00ff99;
    font-size: 12px;
    margin-left: 10px;
  }
}

/* Copy button with tooltip */
.btn-copy {
  --button-bg: #353434;
  --button-hover-bg: #464646;
  --button-text-color: #cccccc;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  --tooltip-font-size: 12px;
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;

  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;

  > .cp-tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      content: attr(data-text-initial);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: calc(var(--tooltip-padding-y) / 2 * -1);
      width: var(--tooltip-padding-y);
      height: var(--tooltip-padding-y);
      background: inherit;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      z-index: -999;
      pointer-events: none;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cp-check-mark {
    display: none;
  }

  &:hover > .cp-tooltip,
  &:focus:not(:focus-visible) > .cp-tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }

  &:focus:not(:focus-visible) > .cp-tooltip::before {
    content: attr(data-text-end);
  }

  &:focus:not(:focus-visible) > .cp-clipboard {
    display: none;
  }

  &:focus:not(:focus-visible) > .cp-check-mark {
    display: block;
  }

  &:hover,
  &:focus {
    background-color: var(--button-hover-bg);
  }

  &:active {
    outline: 1px solid rgb(141, 141, 141);
  }

  &:hover svg {
    color: var(--button-hover-text-color);
  }
}
